
.alert-dismissible{
	background-color: #6f846b;
}

body {
	background-color: #1b1b1b;
}

header {
	background-color: #1b1b1b;
	color: #bdbdbd;
}
article {
	background-color: #000000;
	color: #dddddd;
}

/* navbar start */
h6.dropdown-header{
	color: #fff;
}

nav {
	background-color: #000000;
}
.nav-link, .nav-item, .btn-transp{
	color: #bdbdbd;
}
.nav-link, .nav-item:hover {
	color: #ddd;
}
.active {
	color: #ddd;
}
.navbar-brand {
	color: #dddf;
}
.navbar-brand:hover {
	color: #fff;
}
.nav-link.active {
	color: #fff !important;
}
/* navbar end */

.fecha-offcanvas{
	background-color: #006b21;
}

.list-group-item{
	color: rgb(233, 239, 247);
}

.figure-caption{
	color: #fff;
}

.doar{
	background-color: #445f3e;
}

.doar:hover {
	background-color: #597E52;
   }

.offcanvas{
	background-color: #1b1b1b;
}

footer {
	background-color: #1b1b1b;
	color: white;
}
