.alert-dismissible{
	background-color: #2a723c;
}

header {
	background-color: #ffffff;
	color: #444444;
}

article {
	background-color: #ebebeb;
}
nav {
	background-color: #ebebeb;
}

.doar {
	background-color: #597E52;
}

.doar:hover {
	background-color: #445f3e;
   }

footer {
	background-color: #fff;
	color: white;
}
